/*A classe (começa sempre com um ponto!!!) pode ser 
referenciada no HTML. Para referenciar essa class abaixo
é só escrever class="titulo" dentro de uma tag!!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabeçalho {
    background-color: black;
    padding: 1%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

#logo {
    margin: 0 5%;
    height: auto;
    width: 30px;
}

#cabeçalho a {
    margin: 0 5%;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: large;
}

#cabeçalho a:hover {
    color: yellow;
    font-size: 18px; 
}

body {   
  background-image: url("../img/img_nicolandia/ceu-azul.jpg");
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center center; 
  background-color: #f0f0f0; /*Caso a imagem não carregue*/
}

.Titulo {
    color: #ffffff;
    /*-webkit-text-stroke: 2px #000000;*/
    text-shadow:
    0px 0px 0 #000,
    0px 0px 0 #000, 
    3px 3px 3px #00000082, 
    0px 0px 0 #000;
}

.BlocoAtracao {
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #001f3f;
    border-radius: 15px;
}

.Bloco {
    margin: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #001f3f;
    border-radius: 15px;
}

.BlocoAtracao:hover {
   border: 3px solid rgb(192, 243, 255);   
}

.Imagens {
    height: 225px;
    border-radius: 15px;
}