/*A classe (começa sempre com um ponto!!!) pode ser 
referenciada no HTML. Para referenciar essa class abaixo
é só escrever class="titulo" dentro de uma tag!!!*/

body {
  background-image: url("ceu-azul.jpg");   
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center center; 
  background-color: #f0f0f0; /*Caso a imagem não carregue*/
}

.Titulo {
    color: #ffffff;
    /*-webkit-text-stroke: 2px #000000;*/
    text-shadow:
    0px 0px 0 #000,
    0px 0px 0 #000, 
    3px 3px 3px #00000082, 
    0px 0px 0 #000;
}

.Header {
    margin-top: -90px;
    margin-left: 15%;
    padding: 15px;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4a4a4a;
    border-radius: 15px;
}

.Bloco {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5e6693;
    border-radius: 15px;
}

div {
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #333a66;
    border-radius: 15px;
}

.Imagens {
    height: 221px;
    border-radius: 15px;
}