
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #001f3f, #003366, #004080);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    background-color: white;
    color: #001f3f; /* azul escuro */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


p {
    background-color: white;
    color: #001f3f; /* texto azul escuro */
    padding: 15px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}


img {
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}


.imagem-principal {
    width: 70%;
    max-width: 800px;
}

.imagem-media {
    width: 60%;
    max-width: 700px;
}

.imagem-pequena {
    width: 40%;
    max-width: 500px;
}


@media (max-width: 820px) {
    .imagem-principal,
    .imagem-media,
    .imagem-pequena {
        width: 90%;
    }
}
