/* ---------------------------------- */
/* ------- Estilos do Gerais -------- */
/* ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: white;
  font-family: 'Open Sans', Lato, Roboto, sans-serif;
}

body,
html {
  color: white;
  background-color: #001f3f;
}

#cabeçalho {
  background-color: black;
  padding: 15px 5%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: aliceblue 0px -2px 6px 2px;
}

#cabeçalho:hover {
  text-decoration: none;
}

#logo {
  margin: 0;
  height: auto;
  width: 30px;
  position: static;
  left: -2.5%;
  top: 3%;
}

#menuFlutuanteCheckbox {
  display: none;
}

#menuFlutuante {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5% auto;
  background-color: #001f3f;
  transition: all 0.3s ease-in-out;
}

#menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#linksHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

#linksHeader a:not(:last-child)::after {
  content: "|";
  margin: 0 25%;
  color: aliceblue;
  font-weight: normal;
}

#linksHeader a {
  margin: 0 2%;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: large;
  width: fit-content;

}

#linksHeader a:hover {
  color: yellow;
  font-size: 18px;
}

@media (max-width: 1150px) {
  #menu-overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  }

  #menuFlutuanteCheckbox:checked~#menu-overlay {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  #menuFlutuante {
    display: block;
  }

  #linksHeader {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 70%;
    height: calc(100vh - 60px);
    background-color: #001f3f;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 10;
    width: 100%;
  }

  #linksHeader a {
    margin: 15px 0;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  #linksHeader a::after {
    content: none !important;
  }

  #menuFlutuanteCheckbox:checked~#linksHeader {
    left: 0;
  }
}

#pagina-inicial {
  padding: 2% 2%;
  text-align: center;
  color: aliceblue;
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 200px;
  cursor: default;
}

#map-image {
  width: 35%;
  height: auto;
  padding: 2%;
  border-radius: 150px 75px;
}

#footer-content {
  display: flex;
  background-color: #002f5e;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  position: static;
  font-size: larger;
  text-align: center;
  padding: 10px 0;
  cursor: default;
  box-shadow: #173c75 0px -4px 6px 5px;
}

.easterEgg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgHover {
  position: absolute;
  left: 100%;
  transform: translateY(-50%) translateX(-50%);
  width: 35%;
  height: auto;
  max-width: 35%;
  max-height: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 5% 0 0 20%;
}

.footerLink:hover+.imgHover {
  opacity: 1;
  left: calc(100% + 5px);
}

.footerLink {
  text-decoration: none;
  font-size: 15px;
  padding: 0.5% 2%;
  width: 250px;
  margin: 0 25%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.footerLink:hover {
  animation: rainbow 2s infinite;
  background-color: #001f3f;
}

#rights {
  font-size: 15px;
}

@keyframes rainbow {

  100%,
  0% {
    color: rgb(255, 0, 0);
  }

  8% {
    color: rgb(255, 127, 0);
  }

  16% {
    color: rgb(255, 255, 0);
  }

  25% {
    color: rgb(127, 255, 0);
  }

  33% {
    color: rgb(0, 255, 0);
  }

  41% {
    color: rgb(0, 255, 127);
  }

  50% {
    color: rgb(0, 255, 255);
  }

  58% {
    color: rgb(0, 127, 255);
  }

  66% {
    color: rgb(0, 0, 255);
  }

  75% {
    color: rgb(127, 0, 255);
  }

  83% {
    color: rgb(255, 0, 255);
  }

  91% {
    color: rgb(255, 0, 127);
  }
}

/* ---------------------------------- */
/* --- Estilos do Planetário - ------ */
/* ---------------------------------- */

#planetario-body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #001f3f, #003366, #004080);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background-color: white;
  color: #001f3f;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
  font-size: 45px;
}

.planetario-text {
  background-color: white;
  color: #001f3f;
  padding: 15px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  font-size: 16px;
}

.imgPlanet {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}


.imagem-principal {
  width: 70%;
  max-width: 800px;
}

.imagem-media {
  width: 55%;
  height: auto;
  border-radius: 20px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.imagem-pequena {
  width: 40%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}


@media (max-width: 820px) {

  .imagem-principal,
  .imagem-media,
  .imagem-pequena {
    width: 90%;
  }
}

/* ---------------------------------- */
/* --- Estilos do Nicolândia - ------ */
/* ---------------------------------- */

#nicolandia-body {
  background-image: url("../Trabalho-Site/img/img_nicolandia/ceu-azul.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #001f3f;
}

.BlocoAtracao {
  margin: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #001f3f;
  border-radius: 15px;
}

.Bloco-nicolandia {
  margin: 5px 15%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #001f3f;
  border-radius: 15px;
  text-align: center;
}

.BlocoAtracao:hover {
  border: 3px solid rgb(192, 243, 255);
}

.Imagens {
  height: 225px;
  border-radius: 15px;
}

/* ---------------------------------- */
/* ----- Estilos do Zoológico ------- */
/* ---------------------------------- */

#boxAnimals {
  display: inline;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#boxAnimals a {
  text-decoration: none;
}

.home {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 0.5%;
  border: 5px solid silver;
  border-radius: 8px;
  width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: black;
}

.home:hover {
  color: red;
  text-decoration: underline;
}

.zoo-title {
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  background-color: white;
  color: #001f3f;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  margin: 5% auto;
}

.boxText {
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.boxText:hover {
  color: red;
  text-decoration: underline;
}

.boxAves {
  width: 70%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 100px 10px 100px 10px;
  overflow: hidden;
  background-image: url('../Trabalho-Site/img/img_zoologico/Sky.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  column-gap: 5px;
}

.boxAves:hover {
  border: 6px solid yellow;
}

.boxImageAves {
  max-width: 100%;
  max-height: 200%;
  overflow: hidden;
}

.boxMammals {
  width: 70%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 10px 100px 10px 100px;
  overflow: hidden;
  background-image: url('../Trabalho-Site/img/img_zoologico/GreenHills.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 20px 20px 25%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 80%) minmax(0, 20%);
  column-gap: 5px;
}

.boxMammals:hover {
  border: 6px solid yellow;
}

.boxImageMammals {
  max-width: 100%;
  max-height: 300%;
  overflow: hidden;
}

.boxReptiles {
  width: 70%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 100px 10px 100px 10px;
  overflow: hidden;
  background-image: url('../Trabalho-Site/img/img_zoologico/DesertHills.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  column-gap: 5px;
}

.boxReptiles:hover {
  border: 6px solid yellow;
}

.boxImageReptiles {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}


.boxAmphibious {
  width: 70%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 10px 100px 10px 100px;
  overflow: hidden;
  background-image: url('../Trabalho-Site/img/img_zoologico/Swamp.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 20px 20px 25%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  column-gap: 5px;
}

.boxAmphibious:hover {
  border: 6px solid yellow;
}

.boxImageAmphibious {
  max-width: 200%;
  max-height: 200%;
  overflow: hidden;
}

.boxArthropods {
  width: 70%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 100px 10px 100px 10px;
  overflow: hidden;
  background-image: url('../Trabalho-Site/img/img_zoologico/FallenLog.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  column-gap: 5px;
}

.boxArthropods:hover {
  border: 6px solid yellow;
}

.boxImageArthropods {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.boxButterflies {
  width: 70%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 10px 100px 10px 100px;
  overflow: hidden;
  background-image: url('../Trabalho-Site/img/img_zoologico/DewLeaf.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 20px 20px 25%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  column-gap: 5px;
}

.boxButterflies:hover {
  border: 6px solid yellow;
}

.boxImageButterflies {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.BoxImageStandard {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.BoxStandardLeft {
  width: fit-content;
  height: auto;
  border: 4px solid #333;
  border-radius: 8px;
  overflow: auto;
  background-color: aquamarine;
  margin: 20px 35% 20px 20px;
  padding: 25px;
  display: grid;
  align-items: left;
  grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  column-gap: 5px;
}

.BoxStandrdTextLeft {
  text-align: left;
  font-size: 25px;
  padding: 0 20px 0 120px;
  color: black;
}

.BoxStandardRight {
  width: fit-content;
  height: auto;
  border: 4px solid #333;
  border-radius: 8px;
  overflow: auto;
  background-color: aquamarine;
  margin: 20px 20px 20px 35%;
  padding: 25px;
  display: grid;
  align-items: Right;
  grid-template-columns: minmax(0, 70%) minmax(0, 30%);
  column-gap: 5px;
}

.BoxStandrdTextRight {
  text-align: left;
  font-size: 25px;
  padding: 0 20px 0 20px;
  color: black;
}

/* ---------------------------------- */
/* ------ Estilos do Catedral ------- */
/* ---------------------------------- */

#catedralBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

#catedralBody p {
  max-width: 800px;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  color: black;
}

/* ---------------------------------- */
/* ------ Estilos do Pontão ------- */
/* ---------------------------------- */

.sobre {
  background-color: #0b1e45;
  padding: 50px 20px;
  text-align: center;
}

/* Container que organiza */
.container {
  display: flex;
  /* coloca as caixas lado a lado */
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
  text-align: center;
}

.container h2 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 200%;
}

/* Estilo das caixinhas */
.caixa {
  background-color: #ffffff;
  background: linear-gradient(135deg, #0c0f5f, #173c75);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
  padding: 25px;
  width: 400px;
  /* largura fixa */
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.caixa:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(239, 237, 237, 0.3);
}

.caixa h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
  font-size: 26px;
}

/* Responsividade para celular */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* empilha as caixas */
    align-items: center;
  }

  .caixa {
    width: 90%;
  }
}

#pontao-header {
  background-color: #173c75;
  padding: 20px;
  text-align: center;
}

#pontao-header h1 {
  background-color: white;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
  color: #001f3f;
  width: 50%;
  margin: 25px auto;
}

#pontao-header nav {
  background-color: #0b1e45;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  width: fit-content;
  display: inline-block;
  margin-top: 25px;
}

#pontao-header nav a {
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

#pontao-header nav a:hover {
  color: #ffdd57;
}

/* Lista */
.atracoes {
  padding: 50px 20px;
  text-align: center;
}

.atracoes ul {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.atracoes li {
  background-color: #3a3a3b;
  margin: 10px 0;
  padding: 10px;
  border-left: 4px solid #173c75;
  border-radius: 5px;
}

/* Galeria */
.container {
  background-color: #eef4ff;
  padding: 50px 20px;
  text-align: center;
}

.container h2 {
  color: #173c75;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}

.attraction {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.attraction img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #173c75;
  transition: transform 0.3s;
}

.attraction h3 {
  color: #001f3f;
}

.attraction img:hover {
  transform: scale(1.05);
}

/* Localização */
.localizacao iframe {
  margin-top: 20px;
  border-radius: 8px;
}

.localizacao {
  padding: 50px 20px;
  text-align: center;
  background-color: #0b1e45;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
}

/* ---------------------------------- */
/* ------ Estilos do Esplanada ------ */
/* ---------------------------------- */

#esplanada-body {
  background-image: url("../Trabalho-Site/img/img_esplanada/fundo_body.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/* imagem */
.imagem-esplanada {
  width: 500px;
  height: 333.33px;
  border-radius: 20px;
}

/* texto */
.bloco-esplanada {
  margin: 50px auto;
  flex-wrap: unset;
}

.cabeca {
  background-color: cornsilk;
  height: 333.33px;
  border-radius: 40px 40px 10px 40px;
  display: inline-block;
  width: 100%;
}

.titulo {
  color: cornsilk;
  background-color: black;
  border-radius: 47px 40px 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

.texto2 {
  color: black;
  font-style: unset;
}